*.pyc
nohup.out
.DS_Store*
*.swp
puppet/q
puppet/puppet.conf
puppet/hiera/nodes/secret
**/*.crt*
**/*.key
.idea
puppet/fabric_settings.ini
puppet/fabric_settingsDONTUSE.ini
.vagrant/
puppet/modules/uber/